<div class="victim_form">
  <%= form_for(@victim) do |f| %>
    <% if @victim.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@victim.errors.count, "error") %> prohibited this flock from being saved:</h2>

        <ul>
        <% @victim.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    
    
      <form class="victim_form", action="/victim/create", method="post">
        <div class="form_div">
          <h3> Who are you writing about? </h3> <br />
          Facebook URL: <%= f.text_field :facebook_url, :autofocus => true %> <br />
         <!--  Name: <%= f.text_field :name, :autofocus => true %> <br />
          Gender: <%= f.text_field :gender, :autofocus => true %> <br />
          City: <%= f.text_field :city, :autofocus => true %> <br /> -->
        </div>


        <div class="actions">
          <input type="submit" value="Generate a Stall", class: "victim_create" %>
        </div>

      </form>
    
    
  <% end %>
</div>