%h1 Listing victims

%table
  %tr
    %th Name
    %th Facebook url
    %th Gender
    %th City
    %th
    %th
    %th

  - @victims.each do |victim|
    %tr
      %td= victim.name
      %td= victim.facebook_url
      %td= victim.gender
      %td= victim.city
      %td= link_to 'Show', victim
      %td= link_to 'Edit', edit_victim_path(victim)
      %td= link_to 'Destroy', victim, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Victim', new_victim_path
