
%p
  %b Name:
  = @victim.name
%p
  %b Facebook url:
  = @victim.facebook_url
%p
  %b Gender:
  = @victim.gender
/ %p
/   %b City:
/   = @victim.city


= link_to 'Edit', edit_victim_path(@victim)
\|
= link_to 'Back', victims_path

%h2 Stall Scrawl

.review_container
  - @comments.each do |comment|
    - if comment.victim_id == @victim.id
      .review
        .poster=comment.anonymous
        .reviewtext= comment.message
        .goodbad= comment.good_bad
        
    %br

%h3 Add A Comment
= form_for [@victim, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= pluralize(@comment.errors.count, "error") + 'prohibited this comment from being saved.'

    %ul
      = @victim.errors.full_messages.each do |msg|
        %li= msg

  %div.good_or_bad
    %h5 Your overall impression of this person 
    %input{:name => "good_bad", :type => "radio", :value => "Thumbs up!"}
    Thumbs up!                  
    %br/                      
    %input{:name => "good_bad", :type => "radio", :value => "Meh..."}  
    Meh...

  %div.anonymous_or_not
    %h5 Anonymity Settings
    %input{:name => "anonymous", :type => "radio", :value => User.last.name}
    I'll own what I say.                
    %br/                      
    %input{:name => "anonymous", :type => "radio", :value => "Anonymous"}  
    Keep me anonymous.
  %div.whatthink
    = f.text_area :message, :placeholder => "What do you think?"

  .actions= f.submit "Save Review"

