
%p
  %b Name:
  = @victim.name
%p
  %b Facebook url:
  = @victim.facebook_url
%p
  %b Gender:
  = @victim.gender
/ %p
/   %b City:
/   = @victim.city


= link_to 'Edit', edit_victim_path(@victim)
\|
= link_to 'Back', victims_path

%h2 Stall Scrawl

- @comments.each do |comment|
  %p= comment.message
  =puts comment.message

%h3 Add A Comment
= form_for [@victim, @comment] do |f|
  - if @comment.errors.any?
    #error_explanation
      %h2= pluralize(@comment.errors.count, "error") + 'prohibited this comment from being saved.'
  %ul
    = @victim.errors.full_messages.each do |msg|
      %li= msg

  .field
  
    = f.text_area :message, :placeholder => "What do you think?"

  .actions= f.submit

= params.inspect
