%div.navigation
  = link_to "Bathroom Stall", root_path, :class => 'brand'
  %div.credentials
    - if user_signed_in?
      %p
        Logged in as
        = link_to current_user.name, user_path(current_user.id)
        %br
        = link_to "Review", victims_path, :class => 'smallbrand'
        |
        = link_to "New", new_victim_path, :class => 'smallbrand'
        |
        = link_to 'Logout', signout_path, :class => 'smallbrand'
    - else
      %p
        = link_to "Read", victims_path, :class => 'smallbrand'
        |
        = link_to 'Login', signin_path, :class => 'smallbrand'
  %br
  %br
  %br
  %p.tag
    The People Reviewer